.ds-primary-color {
    color: $rimary !important;
}

.ds-secondary-color {
    color: $secondary !important;
}

.ds-black-color {
    color: $black !important;
}

.ds-white-color {
    color: $white !important;
}

.ds-bg-primary {
    background-color: $primary !important;
}

.ds-bg-secondary {
    background-color: $secondary !important;
}

.ds-bg-black {
    background-color: $black !important;
}

.ds-bg-white {
    background-color: $white !important;
}