.ds-menu-icon {
  font-size: larger;
  color: $primary;
}

.ds-menu-label {
  font-size: large;
  font-family: "Poppins";
}

.ds-menu-root {
  height: 70%;
}

.ds-icon-transition {
  transition: transform 0.3s ease;
}

.ds-sidebar-container {
  border-radius: 30px;
  overflow: hidden;
  height: 100vh;
  border-color: $white !important;
}

.ps-sidebar-container {
  background-color: $white !important;
}